<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Warbot Online</title>
    <object th:include="fragments/header :: head" th:remove="tag"/>

    <script src="../../../resources/js/libs/jquery-ui.min.js"
            th:src="@{/resources/js/libs/jquery-ui.min.js}"></script>
    <script src="../../../resources/js/libs/jquery.layout_and_plugins.min.js"
            th:src="@{/resources/js/libs/jquery.layout_and_plugins.min.js}"></script>
    <script src="../../../resources/js/layout/partyHexagonLayout.js"
            th:src="@{/resources/js/layout/partyHexagonLayout.js}"></script>

    <script src="../../../resources/js/libs/pixi.min.js"
            th:src="@{/resources/js/libs/pixi.min.js}"></script>

    <script src="../../../resources/js/hexablock/classExtend.js"
            th:src="@{/resources/js/hexablock/classExtend.js}"></script>

    <script src="../../../resources/js/hexablock/stream.js"
            th:src="@{/resources/js/hexablock/stream.js}"></script>

    <!--<script src="../../../resources/js/hexablock/pixi.draggable.js"
            th:src="@{/resources/js/hexablock/pixi.draggable.js}"></script>-->

    <script src="../../../resources/js/streaming/importTexture.js"
            th:src="@{/resources/js/streaming/importTexture.js}"></script>
    <script src="../../../resources/js/hexablock/importBlockTexture.js"
            th:src="@{/resources/js/hexablock/importBlockTexture.js}"></script>

</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="box">
    <input type="hidden" id="idParty" value="" th:value="${party.id}"/>

    <div id="blocks" class="outer-center">

        <ul class="nav nav-tabs" id="myTab">
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Liste des agents <b class="caret"></b></a>
                <ul class="dropdown-menu">

                    <li class="webcode-request" th:each="agent : ${agents}" th:data="${agent.id}">
                        <input type="hidden" value="" th:value="${agent.id}"/>
                        <a class="agentList" data-toggle="tab" th:href="'#'+${agent.id}" th:text="${agent.type}">
                            Ag
                        </a>
                    </li>
                </ul>
            </li>

            <a href="#" class="btn btn-sm btn-primary save"> Save</a>
            <a href="#" class="btn btn-sm btn-info load"> Load</a>
        </ul>


        <!-- EDITOR -->

    </div>

    <div id="tools" class="outer-east">

        <!-- TOOLS TODO faire des imports pour las hexagones-->

        <ul class="nav nav-tabs" role="tablist" id="toolsTab">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
            <li role="presentation"><a href="#agents" aria-controls="agents" role="tab" data-toggle="tab">Agents</a></li>
            <li role="presentation"><a href="#views" aria-controls="views" role="tab" data-toggle="tab">Views</a></li>
            <li role="presentation"><a href="#actions" aria-controls="actions" role="tab" data-toggle="tab">Actions</a></li>
            <li role="presentation"><a href="#bag" aria-controls="bag" role="tab" data-toggle="tab">Bag</a></li>
            <li role="presentation"><a href="#life" aria-controls="life" role="tab" data-toggle="tab">Life</a></li>
        </ul>

        <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="home">
                <table class="table table-bordered">
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="actionWhen_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="actionWhen" class = "imageHexagon" src="/resources/hexaBlocks/blocks/condition/when.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Block When
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="actionDo_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="actionDo" class = "imageHexagon" src="/resources/hexaBlocks/blocks/condition/do.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Block Do
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="operatorAnd_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="operatorAnd" class = "imageHexagon" src="/resources/hexaBlocks/blocks/operator/and.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Block And
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="operatorOr_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="operatorOr" class = "imageHexagon" src="/resources/hexaBlocks/blocks/operator/or.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Block Or
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="operatorNot_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="operatorNot" class = "imageHexagon" src="/resources/hexaBlocks/blocks/operator/not.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Block Not
                        </td>
                    </tr>
                </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="agents">
                    <table class="table table-bordered">
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentBaseTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentBaseTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team1/base.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type Base
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentEngineerTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentEngineerTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team1/engineer.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type Engineer
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentExplorerTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentExplorerTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team1/explorer.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type Explorer
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentKamikazeTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentKamikazeTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team1/kamikaze.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type Kamikaze
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentRocketLauncherTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentRocketLauncherTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team1/rocketLauncher.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type RocketLauncher
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentTurretTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentTurretTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team1/turret.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type Turret
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentWallTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentWallTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team1/wall.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type Wall
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentBaseTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentBaseTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team2/base.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type Base
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentEngineerTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentEngineerTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team2/engineer.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type Engineer
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentExplorerTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentExplorerTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team2/explorer.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type Explorer
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentKamikazeTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentKamikazeTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team2/kamikaze.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type Kamikaze
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentRocketLauncherTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentRocketLauncherTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team2/rocketLauncher.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type RocketLauncher
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentTurretTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentTurretTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team2/turret.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type Turret
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentWallTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentWallTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/team2/wall.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type Wall
                            </td>
                        </tr>
                        <tr class="">
                            <td class="imagesToolsTable">
                                <div class ="containImagesHexagon">
                                    <img id="agentFood_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                    <img id="agentFood" class = "imageHexagon" src="/resources/hexaBlocks/blocks/agent/mother/food.png"/>
                                </div>
                            </td>
                            <td class="documentationToolsTable">
                                Représente un agent de type Wall
                            </td>
                        </tr>
                    </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="views">
                <table class="table table-bordered">
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewAgent_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewAgent" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/agent.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewBaseTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewBaseTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team1/base.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type Base
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewEngineerTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewEngineerTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team1/engineer.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type Engineer
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewExplorerTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewExplorerTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team1/explorer.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type Explorer
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewKamikazeTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewKamikazeTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team1/kamikaze.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type Kamikaze
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewRocketLauncherTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewRocketLauncherTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team1/rocketLauncher.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type RocketLauncher
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewTurretTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewTurretTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team1/turret.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type Turret
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewWallTeam1_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewWallTeam1" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team1/wall.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type Wall
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewBaseTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewBaseTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team2/base.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type Base
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewEngineerTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewEngineerTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team2/engineer.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type Engineer
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewExplorerTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewExplorerTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team2/explorer.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type Explorer
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewKamikazeTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewKamikazeTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team2/kamikaze.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type Kamikaze
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewRocketLauncherTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewRocketLauncherTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team2/rocketLauncher.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type RocketLauncher
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewTurretTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewTurretTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team2/turret.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type Turret
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewWallTeam2_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewWallTeam2" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/team2/wall.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type Wall
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="viewFood_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="viewFood" class = "imageHexagon" src="/resources/hexaBlocks/blocks/view/mother/food.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Voir un agent de type Food
                        </td>
                    </tr>
                </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="actions">
                <table class="table table-bordered">
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="actionEat_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="actionEat" class = "imageHexagon" src="/resources/hexaBlocks/blocks/action/eat.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Action de manger de la nourriture
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="actionGive_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="actionGive" class = "imageHexagon" src="/resources/hexaBlocks/blocks/action/give.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Action de donner de la nourriture
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="actionIdle_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="actionIdle" class = "imageHexagon" src="/resources/hexaBlocks/blocks/action/idle.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Action de ne pas bouger
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="actionMove_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="actionMove" class = "imageHexagon" src="/resources/hexaBlocks/blocks/action/move.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Action de se déplacer
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="actionTake_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="actionTake" class = "imageHexagon" src="/resources/hexaBlocks/blocks/action/take.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Action de prendre de la nourriture
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="actionFire_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="actionFire" class = "imageHexagon" src="/resources/hexaBlocks/blocks/action/fire.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Action de tirer
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="actionReload_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="actionReload" class = "imageHexagon" src="/resources/hexaBlocks/blocks/action/reload.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Action de recharger
                        </td>
                    </tr>
                </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="bag">
                <table class="table table-bordered">
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="bag00_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="bag00" class = "imageHexagon" src="/resources/hexaBlocks/blocks/bag/0.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Sac à dos rempli à 0 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="bag10_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="bag10" class = "imageHexagon" src="/resources/hexaBlocks/blocks/bag/10.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Sac à dos rempli à 10 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="bag20_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="bag20" class = "imageHexagon" src="/resources/hexaBlocks/blocks/bag/20.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Sac à dos rempli à 20 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="bag25_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="bag25" class = "imageHexagon" src="/resources/hexaBlocks/blocks/bag/25.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Sac à dos rempli à 25 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="bag30_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="bag30" class = "imageHexagon" src="/resources/hexaBlocks/blocks/bag/30.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Sac à dos rempli à 30 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="bag40_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="bag40" class = "imageHexagon" src="/resources/hexaBlocks/blocks/bag/40.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Sac à dos rempli à 40 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="bag50_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="bag50" class = "imageHexagon" src="/resources/hexaBlocks/blocks/bag/50.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Sac à dos rempli à 50 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="bag60_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="bag60" class = "imageHexagon" src="/resources/hexaBlocks/blocks/bag/60.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Sac à dos rempli à 60 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="bag70_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="bag70" class = "imageHexagon" src="/resources/hexaBlocks/blocks/bag/70.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Sac à dos rempli à 70 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="bag75_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="bag75" class = "imageHexagon" src="/resources/hexaBlocks/blocks/bag/75.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Sac à dos rempli à 75 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="bag80_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="bag80" class = "imageHexagon" src="/resources/hexaBlocks/blocks/bag/80.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Sac à dos rempli à 80 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="bag90_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="bag90" class = "imageHexagon" src="/resources/hexaBlocks/blocks/bag/90.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Sac à dos rempli à 90 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="bag100_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="bag100" class = "imageHexagon" src="/resources/hexaBlocks/blocks/bag/100.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Sac à dos rempli à 100 %
                        </td>
                    </tr>
                </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="life">
                <table class="table table-bordered">
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="life10_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="life10" class = "imageHexagon" src="/resources/hexaBlocks/blocks/life/10.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Points de vie à 10 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="life20_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="life20" class = "imageHexagon" src="/resources/hexaBlocks/blocks/life/20.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Points de vie à 20 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="life25_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="life25" class = "imageHexagon" src="/resources/hexaBlocks/blocks/life/25.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Points de vie à 25 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="life30_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="life30" class = "imageHexagon" src="/resources/hexaBlocks/blocks/life/30.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Points de vie à 30 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="life40_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="life40" class = "imageHexagon" src="/resources/hexaBlocks/blocks/life/40.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Points de vie à 40 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="life50_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="life50" class = "imageHexagon" src="/resources/hexaBlocks/blocks/life/50.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Points de vie à 50 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="life60_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="life60" class = "imageHexagon" src="/resources/hexaBlocks/blocks/life/60.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Points de vie à 60 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="life70_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="life70" class = "imageHexagon" src="/resources/hexaBlocks/blocks/life/70.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Points de vie à 70 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="life75_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="life75" class = "imageHexagon" src="/resources/hexaBlocks/blocks/life/75.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Points de vie à 75 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="life80_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="life80" class = "imageHexagon" src="/resources/hexaBlocks/blocks/life/80.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Points de vie à 80 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="life90_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="life90" class = "imageHexagon" src="/resources/hexaBlocks/blocks/life/90.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Points de vie à 90 %
                        </td>
                    </tr>
                    <tr class="">
                        <td class="imagesToolsTable">
                            <div class ="containImagesHexagon">
                                <img id="life100_select" class = "selectHexagon" src="/resources/hexaBlocks/blocks/other/selectHexagon.png"/>
                                <img id="life100" class = "imageHexagon" src="/resources/hexaBlocks/blocks/life/100.png"/>
                            </div>
                        </td>
                        <td class="documentationToolsTable">
                            Points de vie à 100 %
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <div class="outer-west">

        <div id="stream" class="middle-center">

            <!-- STREAM -->

        </div>

        <div id="console" class="ui-layout-south">
            // CONSOLE
        </div>
    </div>
</div>

<script src="../../../resources/js/libs/sockjs.min.js" th:src="@{/resources/js/libs/sockjs.min.js}"></script>
<script src="../../../resources/js/libs/stomp.min.js" th:src="@{/resources/js/libs/stomp.min.js}"></script>
<!-- application -->
<script src="../../../resources/js/webgame.js" th:src="@{/resources/js/webgame.js}"></script>
<script src="../../../resources/js/streaming/drawStreaming.js"
        th:src="@{/resources/js/streaming/drawStreaming.js}"></script>
<script src="../../../resources/js/hexablock/hexaEditor.js"
        th:src="@{/resources/js/hexablock/hexaEditor.js}"></script>
<script src="../../../resources/js/hexablock/hexaToolsBlock.js"
        th:src="@{/resources/js/hexablock/hexaToolsBlock.js}"></script>
<script th:inline="javascript">
(function() {
        var path =  /*[[@{/warbot}]]*/ /warbot;
        var socket = new SockJS(path);
        var stompClient = Stomp.over(socket);

        var appModel = new WebGameModel(stompClient);
        appM = appModel;
        //idP = $("#idParty")[0].value;
        idP = 1; //temp pour test
        //ko.applyBindings(appModel);

        chargeAppModel(appModel);

        appModel.connect();

         $(".btn.btn-sm.btn-primary.save").click(function(event)
        {
          var child = $(this);
          var vidAgent = child[0].id;
          var vidParty = $("#idParty")[0].value;
          var vCode = editors[vidAgent+"-editor"].getSession().getValue();
          appModel.save(vidParty,vidAgent, vCode);
        });

        $(".btn.btn-sm.btn-info.load").click(function(event)
        {
          var child = $(this);
          var vidAgent = child[0].id;
          var vidParty = $("#idParty")[0].value;
          appModel.get(vidParty,vidAgent);
        });

        //EDITOR

        $(".agentList").click(function(event)
        {
            hexaEditor.nameActiveMasterAgent = this.text;

            // chargement du code

            hexaEditor.loadMasterAgent();
        });

        // TOOLS
        var nameHexagonTab = "nobody";

        $(".imageHexagon").click(function(event)
        {
            var selectHexagon = document.getElementById($(this)[0].id+"_select");

            if(selectHexagon.style.visibility == 'visible') {
                selectHexagon.style.visibility = 'hidden';
                nameHexagonTab = 'nobody';
                hexaEditor.nextHexagonToCreate = null;
            }
            else {
                selectHexagon.style.visibility = 'visible';

                if(nameHexagonTab != 'nobody') {
                        var selectHexagonOld = document.getElementById(nameHexagonTab);
                        selectHexagonOld.style.visibility = 'hidden';
                }

                nameHexagonTab = $(this)[0].id+"_select";
                hexaEditor.nextHexagonToCreateObjectHexagon = hexaEditor.getSpriteOfAgent($(this)[0].id);
                hexaEditor.nextHexagonToCreate = hexaEditor.nextHexagonToCreateObjectHexagon.sprite;
            }

        });

      })();


    </script>
</body>
</html>