<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Warbot Online</title>
    <object th:include="fragments/header :: head" th:remove="tag"/>

    <script src="../../../resources/js/libs/jquery-ui.min.js"
            th:src="@{/resources/js/libs/jquery-ui.min.js}"></script>

    <!--<script src="../../../resources/js/libs/phaser.min.js"
            th:src="@{/resources/js/libs/phaser.min.js}"></script>-->

</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="box">
    <div id="gaming" class="game">



    </div>

</div>

<script src="../../../resources/js/phaser/hexaEditor.js"
        th:src="@{/resources/js/phaser/hexaEditor.js}"></script>
</body>
</html>