<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Warbot Online</title>
    <object th:include="fragments/header :: head" th:remove="tag"/>

    <script src="../../../resources/js/libs/jquery-ui.min.js"
            th:src="@{/resources/js/libs/jquery-ui.min.js}"></script>

    <script src="../../../resources/js/libs/jquery.layout_and_plugins.min.js" th:src="@{/resources/js/libs/jquery.layout_and_plugins.min.js}"></script>
    <script src="../../../resources/js/layout/hexaEditorLayout.js" th:src="@{/resources/js/layout/hexaEditorLayout.js}"></script>

    <script src="../../../resources/js/libs/pixi.min.js" th:src="@{/resources/js/libs/pixi.min.js}"></script>

    <script src="../../../resources/js/libs_Falindir/libs_Falindir-compiled.js"
            th:src="@{/resources/js/libs_Falindir/libs_Falindir-compiled.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="box">

    <div id="editor" class="outer-center">

        <!-- EDITOR -->

    </div>

    <div class="outer-west">

        <!-- GAME -->

    </div>


</div>



<script src="../../../resources/js/warbot/warbot-compiled.js"
        th:src="@{/resources/js/warbot/warbot-compiled.js}"></script>

<script src="../../../resources/js/hexaEditor/hexaEditor-compiled.js"
        th:src="@{/resources/js/hexaEditor/hexaEditor-compiled.js}"></script>


<script th:inline="javascript">
(function() {

    //var xml = $.parseXML("<foo>Stuff</foo>");
    //alert(xml.documentElement.nodeName);



    alert(xml2.documentElement.nodeName);
    hexaEditor = new HexagonEditor('#editor', 0x777777);
    hexaEditor.initStream();
    hexaEditor.cameraMove();
    hexaEditor.initHudEditor();
    animateHexaEditorComplete();


})();

</script>

</body>
</html>
